<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Attrbute:</strong>
  <%= @monster.attrbute %>
</p>

<p>
  <strong>Level:</strong>
  <%= @monster.level %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
